//########################################
//## SIZES ###############################
//########################################

$browser-context: 18 !default; // px
$browser-line-height: 18 !default; // px

//########################################
//## FONT VARIABLES ######################
//########################################

$font-primary: Helvetica, Arial, sans-serif !default;