@mixin font-face($font-name, $font-filename: $font-name, $version: 1) {
    @font-face {
        font-family: '#{$font-name}';
        @if $img-link-type == "REL" {
            src: url('#{$routeRELfont+$font-filename}.eot?#{$version}');
            src: url('#{$routeRELfont+$font-filename}.eot?#{$version}#iefix') format('embedded-opentype'),
            url('#{$routeRELfont+$font-filename}.woff2?#{$version}') format('woff2'),
            url('#{$routeRELfont+$font-filename}.woff?#{$version}') format('woff'),
            url('#{$routeRELfont+$font-filename}.svg?#{$version}#wf') format('svg'),
            url('#{$routeRELfont+$font-filename}.ttf?#{$version}') format('truetype');
        } @else if $img-link-type == "ABS" {
            src: url('#{$routeABSfont+$font-filename}.eot?#{$version}');
            src: url('#{$routeABSfont+$font-filename}.eot?#{$version}#iefix') format('embedded-opentype'),
            url('#{$routeABSfont+$font-filename}.woff2?#{$version}') format('woff2'),
            url('#{$routeABSfont+$font-filename}.woff?#{$version}') format('woff'),
            url('#{$routeABSfont+$font-filename}.svg?#{$version}#wf') format('svg'),
            url('#{$routeABSfont+$font-filename}.ttf?#{$version}') format('truetype');
        }
        font-weight: normal;
        font-style: normal;
    }
}

@mixin font-size-map($fs-map, $function: rem) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
        @if $fs-breakpoint == null {
            $fs: $fs-font-size;
            @if type-of($fs-font-size) == 'string' {
                $fs: number(nth(str-two-split($fs-font-size, '/'), 1));
                $lh: number(nth(str-two-split($fs-font-size, '/'), 2));
                line-height: line-height($fs, $lh);
            }
            @if $function == rem {
                font-size: rem($fs);
            } @else if $function == em {
                font-size: em($fs);
            } @else {
                font-size: $fs#{$function};
            }
        } @else {
            $fs: $fs-font-size;
            @include breakpoint($fs-breakpoint) {
                @if type-of($fs-font-size) == 'string' {
                    $fs: number(nth(str-two-split($fs-font-size, '/'), 1));
                    $lh: number(nth(str-two-split($fs-font-size, '/'), 2));
                    line-height: line-height($fs, $lh);
                }
                @if $function == rem {
                    font-size: rem($fs);
                } @else if $function == em {
                    font-size: em($fs);
                } @else {
                    font-size: $fs#{$function};
                }
            }
        }
    }
}